* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.wrapper {
    margin: 10px auto;
    max-width: 80%;
    position: relative;
}

.menu-flex {
    /* position: relative; */
    display: flex;
    justify-content: space-between;
}

.main-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 850px;
}

.card-product {
    width: 250px;
    padding: 10px;
    background-color: rgb(204, 204, 204);
    margin: 20px 0;
    border-radius: 10px;
}

.card-product-img {
    width: 230px;
    height: 230px;
}

.card-product-name {
    text-decoration: none;
    color: black;
    display: block;
    height: 50px;
    margin: 10px 0;
    text-align: center;
    cursor: pointer;
    align-items: center;
}

.card-product-inf {
    font-size: 10px;
    display: flex;
    height: 30px;
}

.card-product-flex {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0 0;
    height: 50px;
    align-items: center;
}

.card-product-price {
    margin: 0 0;
    display: flex;
    align-items: center;
}

.card-product-like {
    background-repeat: no-repeat;
    width: 25px;
    height: 20px;
    cursor: pointer;
}

.card-product-btn {
    margin-top: -15px;
    display: none;
    padding: 10px 20px;
    background-color: darkorange;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.card-product:hover>.card-product-flex>.card-product-price {
    display: none;
}

.card-product:hover>.card-product-flex>.card-product-btn {
    margin-top: -15px;
    display: block;
}

.second-menu {
    width: 400px;
    /* height: 320px; */
    height: 10%;
    background-color: wheat;
    padding: 20px;
    margin-left: 10px;
    margin-top: 20px;
}

.h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.product-count {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.count-price {
    width: 65px;
}

.product-name {
    width: 180px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.btn-count {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: coral;
    border: none;
    color: white;
    cursor: pointer;
}

.final-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.order-btn {
    background-color: rgba(255, 108, 1, 1);
    color: white;
    width: 368px;
    height: 62px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.section-card {
    display: none;
    position: fixed;
    right: 25%;
    top: 10%;
    margin: 0 auto;
    text-align: center;
    background-color:rgba(168, 168, 168, 0.95);
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 10px 10px #3f3f3f8c;
}

.food-img {
    margin: 5px 40px 0 20px;
}

.button-card {
    padding: 10px 20px;
    background-color: darkorange;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.flex-title {
    display: flex;
}

.div-title {
    width: 50%;
}

.name-title {
    
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.closed {
    width: 100%;
    display: flex;
}

.closed-btn {
    margin-left: auto;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

